@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300')

$screen-width: 60vw

html
  font-size: 120%
  font-family: "Source Sans Pro", sans-serif



main
  background-image: url("../img/bg.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 50%
  height: 100vh
  h1
    position: relative
    top: 30%
    text-transform: capitalize

#menu
  display: flex
  width: $screen-width
  background: gray
  margin: 0 auto
  ul
    padding: 0
    background: blue
    width: 100%
    display: flex
    justify-content: space-around
    list-style: none
    li
      display: inline-block
      text-transform: capitalize
