@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400')

$screen-width: 50vw

*
  margin: 0
  padding: 0
a
  text-decoration: none
  color: unset

html
  font-size: 120%
  font-family: "Source Sans Pro", sans-serif
ul
  list-style: none
li
  display: inline-block



main
  background-image: url("../img/bg.jpg")
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 50%
  height: 50vw
  padding: 0 10%
  h1, p
    position: relative
    color: white
  h1
    top: 30%
    text-transform: capitalize
    font-weight: 400
  p
    top: 31%
    width: 30%

#menu
  position: fixed
  top: 0
  z-index: 10
  display: flex
  width: 100vw
  background: gray
  margin: 0 auto
  ul
    img
      height: 70px
    padding: 0
    background: blue
    width: 50%
    margin: 0 auto
    display: flex
    justify-content: space-around
    align-items: center
    list-style: none
    li
      display: inline-block
      text-transform: capitalize

section
  padding: 0 10%
  h2
    text-transform: uppercase
    &::after
      content: ""
      display: block
      background: black
      width: 10vw
      height: 0.5vw
      margin-top: 1vw

#recent-sessions
  aside
    display: flex
    flex-direction: column
    width: 50%
    background-color: gray
    align-items: center
    justify-content: center
    h3
      text-transform: uppercase
  a
    display: block
    width: 10vw
    height: 5vw
    text-align: center
    background: white
  article
    margin: 5vw 0
    display: flex
    background: blue
  article:nth-child(2n+1)
    flex-direction: row-reverse
    aside
      background: pink
  .genre-bar-container
    display: flex
    background: red
    justify-content: center
    h5
      padding: 1vw
      background: yellow
      margin: 0 0.5vw

#newsletter
  display: flex
  flex-direction: column
  align-items: center

#blog-posts
  aside
    display: flex
    justify-content: space-between
  article
    padding: 2vw
    width: 25%
    background: yellow
    img
      width: 100%

#session-nav
  margin-top: 5vw
  #choose-genre-container
    display: flex
    width: 50%
    justify-content: space-between
    background: pink

#session-list
  display: flex
  justify-content: space-between
  .session-bar
    align-items: center
    background: brown
    display: flex
    width: 30%
    flex-direction: column
    img
      align-self: center
      width: 100%



footer
  background: gray
  display: flex
  align-items: center
  flex-direction: column
  text-transform: capitalize
  #footer-nav
    background: orange
    width: 50vw
    display: flex
    justify-content: space-between
  #social-icons-bar
    display: flex
    width: 30%
    justify-content: space-around
    font-size: 5vw
    color: white
