@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600");
#menu-mobile {
  display: none; }

* {
  margin: 0;
  padding: 0;
  letter-spacing: -0.5px; }

a {
  text-decoration: none;
  color: unset; }

html {
  background-color: #e9e7da;
  color: #395442;
  font-size: 140%;
  font-family: "Source Sans Pro", sans-serif; }

ul {
  list-style: none; }

li {
  display: inline-block; }

p {
  font-size: 20px; }

input {
  outline: none; }

main {
  top: 0;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 50vw;
  padding: 0 20%; }
  main h1, main p {
    position: relative;
    color: white; }
  main h1 {
    top: 42%;
    text-transform: capitalize;
    font-weight: 600; }
  main p {
    top: 43%;
    width: 50%; }

#menu {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 1vw 0;
  top: 0;
  z-index: 10;
  display: flex;
  width: 100vw;
  background: #e9e7da;
  margin: 0 auto; }
  #menu ul {
    padding: 0;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none; }
    #menu ul img {
      height: 70px; }
    #menu ul li {
      color: black;
      display: inline-block;
      text-transform: capitalize; }

section {
  margin-top: 5%;
  padding: 0 10%; }
  section h2 {
    text-transform: uppercase;
    font-weight: 600; }
    section h2::after {
      content: "";
      display: block;
      background: #395442;
      width: 10vw;
      height: 8px;
      margin-top: 1vw; }

#recent-sessions aside {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: white;
  align-items: center;
  padding: 5% 0;
  justify-content: space-around; }
  #recent-sessions aside h3 {
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase; }
#recent-sessions a {
  display: block;
  color: #cda34f;
  border: 3px solid #cda34f;
  line-height: 3vw;
  width: 10vw;
  height: 3vw;
  text-align: center;
  background: white; }
#recent-sessions article {
  box-shadow: 0 10px 20px 2px rgba(0, 0, 0, 0.4);
  margin: 5vw 0;
  display: flex; }
#recent-sessions article:nth-child(2n+1) {
  flex-direction: row-reverse; }
#recent-sessions .genre-bar-container {
  display: flex;
  justify-content: center; }
  #recent-sessions .genre-bar-container h5 {
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 0.4vw 1.5vw;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    background: #cda34f;
    margin: 0 0.5vw; }

#newsletter {
  padding: 5% 0;
  background: #f2e3b4;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #newsletter h2 {
    max-width: 80%; }
  #newsletter h4 {
    margin-top: 2vw; }
  #newsletter form {
    margin: 2% 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center; }
    #newsletter form input {
      font-size: 15px;
      width: 16%;
      padding: 1%;
      margin: 0 0.5vw; }
    #newsletter form input[type="submit"] {
      background: white;
      border-radius: 3px;
      border: 3px solid #cda34f; }

#blog-posts aside {
  margin: 5% 0;
  display: flex;
  justify-content: space-between; }
#blog-posts article {
  width: 30%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #blog-posts article h3, #blog-posts article p {
    width: 80%; }
  #blog-posts article h3 {
    margin: 5% 0; }
  #blog-posts article p {
    margin-bottom: 5%; }
  #blog-posts article img {
    width: 100%; }

#session-nav {
  margin-top: 5vw; }
  #session-nav h2 {
    text-transform: inherit; }
  #session-nav #choose-genre-container {
    margin: 2% 0;
    display: flex;
    justify-content: flex-start; }
    #session-nav #choose-genre-container h5:first-child {
      margin-left: 0; }
    #session-nav #choose-genre-container h5 {
      box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.3);
      padding: 0.4vw 1.5vw;
      color: white;
      text-transform: uppercase;
      font-weight: 300;
      background: #cda34f;
      margin: 0 0.5vw; }

#session-list {
  display: flex;
  margin-bottom: 5%;
  justify-content: space-between; }
  #session-list .session-bar {
    align-items: flex-start;
    background: white;
    display: flex;
    width: 30%;
    flex-direction: column; }
    #session-list .session-bar img {
      align-self: center;
      width: 100%; }
  #session-list .description {
    padding: 5%; }
    #session-list .description h3 {
      margin-bottom: 2%; }
    #session-list .description h4 {
      padding: 5% 0; }
    #session-list .description a {
      margin-top: 5%;
      display: block;
      color: #cda34f;
      border: 3px solid #cda34f;
      line-height: 3vw;
      width: 10vw;
      height: 3vw;
      text-align: center;
      background: white; }

#contact {
  margin-bottom: 10%; }
  #contact p {
    margin: 3% 0;
    width: 60ch; }
  #contact form {
    display: flex;
    flex-direction: column;
    width: 60%; }
    #contact form input, #contact form textarea {
      border: 3px solid #395442;
      padding: 1vw;
      margin: 0.6vw 0; }
    #contact form input[type="submit"] {
      background: #cda34f;
      border: none;
      color: white;
      font: unset;
      text-transform: uppercase;
      width: 50%; }

#blog {
  display: flex;
  flex-direction: column; }
  #blog .blog-post {
    background: white;
    display: flex;
    width: 100%;
    height: 20%;
    margin: 3% 0; }
    #blog .blog-post img {
      width: 100%;
      height: auto;
      align-self: center; }
    #blog .blog-post aside {
      padding: 0 10%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      #blog .blog-post aside h3 {
        margin-bottom: 1%; }
      #blog .blog-post aside a {
        margin-top: 2%;
        display: block;
        color: #cda34f;
        border: 3px solid #cda34f;
        line-height: 3vw;
        width: 10vw;
        height: 3vw;
        text-align: center;
        background: white; }

.article {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .article h1 {
    text-transform: uppercase;
    font-weight: 600; }
  .article h3 {
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 2%; }
  .article p {
    text-align: center;
    width: 55ch;
    margin: 5% 0; }

footer {
  background: #395442;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-transform: capitalize; }
  footer #footer-nav, footer #social-icons-bar {
    color: #e9e7da; }
  footer #footer-nav {
    margin: 5% 0 0% 0%;
    width: 40vw;
    display: flex;
    justify-content: space-between; }
  footer #social-icons-bar {
    margin: 3% 0;
    display: flex;
    width: 30%;
    justify-content: space-around;
    font-size: 5vw; }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  html {
    font-size: 60px; }

  main {
    height: 50vh; }
    main h1 {
      top: 20%; }
    main p {
      display: none; }

  #menu {
    display: none; }

  #menu-mobile {
    display: flex;
    flex-direction: column; }
    #menu-mobile ul {
      border-top: 1.5px solid rgba(0, 0, 0, 0.2);
      border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
      padding: 20px 0;
      display: flex;
      justify-content: space-around; }
    #menu-mobile img {
      align-self: center;
      height: 20vh; }

  article {
    flex-direction: column; }
    article #ytplayer {
      width: 100%; }

  #recent-sessions aside {
    width: 100%; }
    #recent-sessions aside h3 {
      margin-top: 20px; }
    #recent-sessions aside a {
      box-sizing: content-box;
      margin-top: 5px;
      width: 70%;
      padding: 40px; }

  #newsletter form {
    flex-direction: column;
    align-items: center; }
    #newsletter form input {
      box-sizing: border-box;
      width: 80%;
      padding: 50px;
      margin: 5px 0;
      font-size: 50px; }
    #newsletter form input[type="submit"] {
      padding: 50px; }

  #blog-posts aside {
    flex-direction: column;
    align-items: center; }
    #blog-posts aside article {
      width: 95%;
      margin-bottom: 20px; }
      #blog-posts aside article p {
        font-size: 50px; }

  footer nav {
    width: 90%; }
    footer nav #footer-nav {
      width: 100%;
      display: flex;
      justify-content: space-around; }
  footer #social-icons-bar {
    width: 70%;
    font-size: 80px; }

  #session-nav #choose-genre-container {
    justify-content: space-around;
    flex-wrap: wrap; }
    #session-nav #choose-genre-container h5 {
      margin: 5px;
      padding: 10px;
      width: 20vw;
      flex-wrap: wrap;
      text-align: center; }

  #session-list {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #session-list .session-bar {
      width: 95%; }
    #session-list .description {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 100%; }
      #session-list .description h3, #session-list .description h4 {
        padding: 0;
        margin: 0; }
      #session-list .description a {
        display: block;
        padding: 20px;
        width: 90%; }

  #blog .blog-post aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    #blog .blog-post aside > * {
      margin: 20px 0; }
    #blog .blog-post aside a {
      display: block;
      padding: 20px;
      width: 90%; }

  #contact p {
    margin: 10% 0;
    width: 90%; }
  #contact form {
    margin: 0 auto;
    width: 100%; }
    #contact form input {
      margin: 5px 0;
      padding: 20px; }
    #contact form input[type="submit"] {
      width: 100%; } }

/*# sourceMappingURL=main.css.map */
